{% extends "companyapp/base.html" %}

{% block content %}
<h2>Our Story</h2>
        
        <p>Silicon Corp Ltd, provides a wide range of semiconductor and infrastructure software applications that serve
            the data center, networking, software, broadband, wireless, and storage and industrial markets. Common
            applications for its products include data center networking, home connectivity, broadband access,
            telecommunucations equipment, smartphones, base stations, data center servers and storage, factory
            automation, power generation and alternative energy systems, displays,and mainframe operations and
            management, and application software development. 
        </p>
     <img class="imgstyle" src="/static/img/office.jpg" alt="home">
     <p> Some of Silicon's core technologies and products include: </p>
    <ul class="margin">
        <li>|     Memory Chips     |</li>
        <li>|     SATA HDD     |</li>
        <li>|    SATA SSD     |</li>
        <li>|     Broadband Modems     |</li>
        <li>|     Wifi Devices      |</li>
        <li>|     Switching Devices      |</li>
        <li>|     Optical Sensors     |</li>
    </ul> 
    
{% endblock  %}